.header{
    background-image: url(images/image-1.jpg);
    height: 900px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu{
    text-align: center;
}

ul li{
    display: inline-block;
    padding: 20px;
}

li a{
  color: white;
}

.clearfix:after{
    visibility: hidden; 
    display: block; 
    font-size: 0; 
    content:''; 
    clear: both; 
    height: 0;
}

.hamburger-menu{
    display: none;
    color: white;
    float: right;
    padding: 30px 30px 0 0;
}

img{
    max-width: 100%;
    height: auto;
}

h1{
    color: #F2A11C;
    font-style: normal;
    font-family:'pacifico';
    font-size: 130px;
    text-align: center;
    padding-top: 150px;
}

h2{
    font-family: 'pacifico';
    font-style: normal;
    font-size: 42px;
}

h3{
   font-family: 'pacifico';
   font-style: normal;
   color: #F2A11C;
   font-weight: 500;
   font-size: 24px; 
}

p{
    font-family: 'catamaran';
    font-size: 20px;
    line-height: 29px;
}

.main-text{
    box-sizing: border-box;
    padding: 50px;
    width: 50%;
    float: left;
    height: 500px;
}

.side-image{
    width: 50%;
    float: left;
    height: 500px;
}

.side-image-back1{
    background-image: url(images/image-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    float: right;
    height: 500px;
}

.side-image-back2{
    background-image: url(images/image-7.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    float: left;
    height: 500px;
}

.container{
    background-color: white;
    height: 500px;
    box-sizing: border-box;
}

.alissa{
    width: 25%;
    float: left;
}

.alissa-text{
    width: 70%;
    float: left;
    padding-left: 50px;
}

.alissa-section{
    background-color: #F4F4F4;
}

.meet-alissa{
    padding: 50px;
    overflow: hidden;
}

.link{
    color: #F2A11C;
}

.link-box{
    display: inline-block;
    padding: 30px;
    max-width: 100px;
}

button{
    background-color: #1F2022;
    border: none;
    color: #F2A11C;
    font-family: 'catamaran';
    font-weight: bold;
    font-size: 14px;
    line-height: 29px;
    padding: 5px 25px;
}

/* *{
    border: 1px solid red;
} */

.btn{
    background-color: transparent;
    width: 130px;
    font-size: 18px;
    padding: 100px;
}

.fas{
    font-size: 48px;
}

.social-media{
    width: 30px;
    position: absolute;
    top: 35%;
    right: 50px;
}

.social-media a{
    color: #F2A11C;
}

a:link {
    text-decoration: none;
    font-family:'catamaran';
    font-weight: bold;
    font-size: 18px;
    line-height: 29px;
}

.middle-links{
    background-image: url(images/image-5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    text-align: center;
}

.icons{
    padding-top: 130px;

}

.products,
.community,
.reach-out{
    display: inline;
}



.images{

}

.gram-image{
    width: 30%;
    padding: 15px;
}

.gram-container{
    text-align: center;
}

.fa-bicycle,
.fa-users,
.fa-phone{
    color: white;
}

.middle-text{
    font-family: 'catamaran';
    font-weight: bold;
    font-size: 18px;
    color: #F2A11C;
    line-height: 29px;
}

.nav{
    text-align: center;
    padding-top: 40px;
}

.footer{
    position: relative;
    width: 100%;
    bottom: 0px;
    background-color: #1F2022;
}

.footer-text{
    color: #F4F4F4;
    max-width: 270px;
}

.contact-info{
    float: left;
    width: 40%;
    padding-left: 5%;
}

.subscription{
    float: right;
    width: 50%;
}

.sub-button{
    background-color: #F2A11C;
    color: #1F2022;
    font-family: 'catamaran';
    font-weight: 700;
    font-size: 18px;
    height: 42px;
}

form{
    color: #F4F4F4;
    font-family: 'catamaran';
    font-size: 20px;
    font-weight: 500;
}

input{
    font-family: 'catamaran';
    font-size: 20px;
    font-weight: 500;
    border: none;
    height: 40px;
    width: auto;
}

.copyrightfooter{
    background-color: #1F2022;
}

.copyright{
    color: #4A4A4A;
    text-align: center; 
}


@media (max-width:1200px){

    .header{
        background-image: url(images/image-1-mobile@2x.jpg);
        background-position: center;
        background-repeat: no-repeat;
    }

    .container{
        height: auto;
    }

    .main-text{
        width: auto;
        text-align: center;
        height: auto;
    }

    .side-image-back1,
    .side-image-back2{
        float: none;
        width: auto;
    }

    .alissa{
        float: none;
        width: 100%;
    }

    .alissa-text{
        width: auto;
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
    }

    img{
        height: 100%; 
        width: 100%; 
        object-fit: contain
    }

    .main-text{
        float: none;
    }

    .link-box{
        display: block;
        margin: auto;
    }    

    .menu,
    .social-media{
        display: none;
    }

    h1{
        font-size: 10vw;
    }

    .hamburger-menu{
        display: block;
    }

    .gram-image{
        width: 40%;
        padding: 15px;
    }

    #that-image{
        display: none;
    }

    .footer{
        text-align: center;
    }

    .footer-text{
        max-width: none;
        padding: 30px;
    }

    .contact-info,
    .subscription{
        float: none;
        width: 100%;
    }

    .contact-info{
        padding-left: 0.5%;
    }

    .sub-button{
        margin-top: 10px;
        width: 80%;
    }

    .form-control input {
    width: 80%;
    }

    .middle-links{
        height: 100%;
    }

    .icons{
        padding-top: 25px;
    }

}