/*Squash 
#F2A11C

Darker gery
#1F2022

Dark grey
#4A4A4A

White
#FFFFFF

Light grey
#F4F4F4
---------------
Heading text(Bikerland)
Pacifico, regular, 130px
center

Heading text (about us, our mission, meet alissa)
pacifico, regular, 42px

Body text
Catamaran, Regular, 20px
Line height: 29px

Button text
Catamaran, bold, 18px
Center, Line height: 29px

*/

body{
    margin-left: 100px;
    margin-right: 100px;
}

.header{
    background-image: url(images/image-1.jpg);
    height: 900px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu{
    text-align: center;
}

ul li{
    display: inline-block;
    padding: 30px;

}

li a{
  color: white;
}

.clearfix:after{
    visibility: hidden; 
    display: block; 
    font-size: 0; 
    content:''; 
    clear: both; 
    height: 0;
}

img{
    max-width: 100%;
    height: auto;
}

h1{
    color: #F2A11C;
    font-style: normal;
    font-family:'pacifico';
    font-size: 130px;
    text-align: center;
    padding-top: 150px;
}

h2{
    font-family: 'pacifico';
    font-style: normal;
    font-size: 42px;
}

h3{
   font-family: 'pacifico';
   font-style: normal;
   color: #F2A11C;
   font-weight: 500;
   font-size: 24px; 
}

p{
    font-family: 'catamaran';
    font-size: 20px;
    line-height: 29px;
}

.main-text{
    box-sizing: border-box;
    padding: 50px;
    width: 50%;
    float: left;
    height: 500px;
}

.side-image{
    width: 50%;
    float: left;
    height: 500px;
}

.side-image-back1{
    background-image: url(images/image-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    float: right;
    height: 500px;
}

.side-image-back2{
    background-image: url(images/image-7.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    float: left;
    height: 500px;
}

.container{
    background-color: white;
    /* width: 50%; */
    /* float: left; */
    height: 500px;
    /* padding: 50px; */
    box-sizing: border-box;
}



.alissa{
    max-width: 20%;
    float: left;
    padding-left: 100px;
}

.alissa-text{
    padding-left: 500px;
    padding-right: 100px;
}

.alissa-section{
    background-color: #F4F4F4;
}

.meet-alissa{
    padding-top: 50px;
    padding-bottom: 50px;
}

button{
    background-color: #1F2022;
    border: none;
    color: #F2A11C;
    font-family: 'catamaran';
    font-weight: bold;
    font-size: 14px;
    line-height: 29px;
    padding: 5px 25px;
}

.btn{
    background-color: transparent;
    width: 130px;
    font-size: 18px;
    padding: 100px;
}

.fas{
    font-size: 40px;
}

.social-media{
    width: 30px;
    position: absolute;
    top: 40%;
    right: 120px;
}

.social-media a{
    color: #F2A11C;

}

a:link {
  text-decoration: none;
  font-family:'catamaran';
  font-weight: bold;
  font-size: 18px;
  line-height: 29px;
/* Center */
}

.middle-links{
    background-image: url(images/image-5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    text-align: center;
}

.icons{
    padding-top: 100px;
}

.products,
.community,
.reach-out{
    display: inline;
}



.images{

}

.gram-image{
    width: 30%;
    padding: 15px;
}

.gram-container{
    text-align: center;
}

.fa-bicycle,
.fa-users,
.fa-phone{
    color: white;
}

.middle-text{
    font-family: 'catamaran';
    font-weight: bold;
    font-size: 18px;
    color: #F2A11C;
    line-height: 29px;
}

.nav{
    text-align: center;
}

.footer{
    position: relative;
    width: 100%;
    bottom: 0px;
    background-color: #1F2022;
}

.footer-text{
    color: #F4F4F4;
    max-width: 270px;
}

.contact-info{
    float: left;
    padding-left: 15px;
}

.subscription{
    float: right;
    padding: 15px;
}

.sub-button{
    background-color: #F2A11C;
    color: #1F2022;
    font-family: 'catamaran';
    font-weight: 700;
    font-size: 18px;
    height: 42px;
}

form{
    color: #F4F4F4;
    font-family: 'catamaran';
    font-size: 20px;
    font-weight: 500;
}

input{
    font-family: 'catamaran';
    font-size: 20px;
    font-weight: 500;
    padding-left: 30px;
    border: none;
    height: 40px;
    width: 400px;
}

.copyrightfooter{
    background-color: #1F2022;
}

.copyright{
    color: #4A4A4A;
    text-align: center;
    
}